<% provide :title, @list.title %>
<div class="list article home">
  <div class="col-md-12 clear-padding-col">
    <div class="col-md-8 background-color-content">
      <div class="wraper-header clear-col-margin">
        <div class="header-category">
          <span class="fa fa-list"></span>
          <%= check_title %>
        </div>
      </div>
      <div class="content-list">
       <%= render @articles %>
       <div class="paginate"><%= paginate @articles, theme: "twitter-bootstrap-3", pagination_class: "pagination-small" %></div>
      </div>
    </div>
    <div class="col-md-4 side-bar facebook-like-page">
      <%= render "articles/fb_page" %>
    </div>
    <div class="col-md-4 side-bar">
      <%= render "articles/relate_side_bar" %>
    </div>
    <div class="col-md-4 side-bar">
      <%= render "articles/popular_side_bar" %>
    </div>
    <div class="col-md-4 side-bar side-bar-ads">
      <!-- Begin BidVertiser code -->
      <SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=733156&bid=1814375" TYPE="text/javascript"></SCRIPT>
      <!-- End BidVertiser code -->
    </div>
  </div>
</div>
