<% provide :title, t("tab_bar.home") %>
<div class="home">
  <div class="col-md-12 clear-col-margin">
    <div class="contain-category category-articles">
      <div class="col-md-12 clear-col-margin">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item">
            <%= image_tag @articles.first.image_url %>
            <div class="title-article"><%= @articles.first.title %></div>
          </div>
          <div class="item">
            <%= image_tag @articles.second.image_url %>
            <div class="title-article"><%= @articles.second.title %></div>
          </div>
          <div class="item">
            <%= image_tag @articles.third.image_url %>
            <div class="title-article"><%= @articles.third.title %></div>
          </div>
          <div class="item">
            <%= image_tag @articles.fourth.image_url %>
            <div class="title-article"><%= @articles.fourth.title %></div>
          </div>
          <div class="item">
            <%= image_tag @articles.fifth.image_url %>
            <div class="title-article"><%= @articles.fifth.title %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin">
    <div class="wraper-header clear-col-margin">
      <div class="header-category">
        <%= link_to category_path(1) do %>
          <span class="fa fa-newspaper-o"></span>
          <%= t "tab_bar.news" %>
        <% end %>
        <span class="fa fa-chevron-up cursor arrow-position" id="hide-show-news"></span>
        <%= link_to category_path(1), class: "pull-right more-article" do %>
          <i><%= t "label.more_article" %></i>
        <% end %>
      </div>
    </div>
    <div class="contain-category category-news">
      <% @articles = @news_articles %>
      <%= render "category_show" %>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin">
    <div class="wraper-header clear-col-margin">
      <div class="header-category">
        <%= link_to category_path(2) do %>
          <span class="fa fa-desktop"></span>
          <%= t "tab_bar.computer" %>
        <% end %>
        <span class="fa fa-chevron-up cursor arrow-position" id="hide-show-computer"></span>
        <%= link_to category_path(2), class: "pull-right more-article" do %>
          <i><%= t "label.more_article" %></i>
        <% end %>
      </div>
    </div>
    <div class="contain-category category-computer">
      <% @articles = @computer_articles %>
      <%= render "category_show" %>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin">
    <div class="wraper-header clear-col-margin">
      <div class="header-category">
        <%= link_to category_path(3) do %>
          <span class="fa fa-tablet"></span>
          <%= t "tab_bar.mobile" %>
        <% end %>
        <span class="fa fa-chevron-up cursor arrow-position" id="hide-show-mobile"></span>
        <%= link_to category_path(3), class: "pull-right more-article" do %>
          <i><%= t "label.more_article" %></i>
        <% end %>
      </div>
    </div>
    <div class="contain-category category-mobile">
      <% @articles = @mobile_articles %>
      <%= render "category_show" %>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin">
    <div class="wraper-header clear-col-margin">
      <div class="header-category">
        <%= link_to category_path(4) do %>
          <span class="fa fa-book"></span>
          <%= t "tab_bar.more_knowledge" %>
        <% end %>
        <span class="fa fa-chevron-up cursor arrow-position" id="hide-show-more-knowledge"></span>
        <%= link_to category_path(4), class: "pull-right more-article" do %>
          <i><%= t "label.more_article" %></i>
        <% end %>
      </div>
    </div>
    <div class="contain-category category-more-knowledge">
      <% @articles = @knowledge_articles %>
      <%= render "category_show" %>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin margin-bottom-category">
    <div class="wraper-header clear-col-margin">
      <div class="header-category">
        <%= link_to category_path(5) do %>
          <span class="fa fa-pie-chart"></span>
          <%= t "tab_bar.electronic_device" %>
        <% end %>
        <span class="fa fa-chevron-up cursor arrow-position" id="hide-show-popular-article"></span>
         <%= link_to category_path(5), class: "pull-right more-article" do %>
          <i><%= t "label.more_article" %></i>
        <% end %>
      </div>
    </div>
    <div class="contain-category category-popular-article">
      <% @articles = @electronic_device_articles %>
      <%= render "category_show" %>
    </div>
  </div>

  <div class="col-md-12 clear-col-margin margin-bottom-category">
    <div class="col-md-7 col-md-offset-2 over-hide">
      <!-- Begin BidVertiser code -->
        <SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=733156&bid=1814359" TYPE="text/javascript"></SCRIPT>
      <!-- End BidVertiser code -->
    </div>
  </div>
</div>
