<div class="col-md-12 first-article">
  <div class="col-md-5 image-padding">
    <%= link_to article_path(article) do %>
      <img data-src="<%= article.image_url(:thumb) %>" data-src-retina="/assets/loading.gif" />
    <% end %>
  </div>
  <div class="col-md-7 title-first">
    <%= link_to article_path(article) do %>
      <h3><%= truncate(article.title, length: 80) %></h3>
    <% end %>
    <div class="detail">
      <span class="fa fa-calendar"></span>
      <%= article.created_at.strftime("%b %d %Y") %> |
      <!-- <span class="fa fa-eye"></span>
      <%= article.view %>| -->
      <span class="fa fa-user"></span>
      <%= article.user.nickname %>
    </div>
    <div class="description">
      <%= truncate(sanitize(article.description, tags: []), length: 230) %>
      <%= link_to t("articles.labels.read_more"), article_path(article), class: "label label-warning" %>
    </div>
  </div>
</div>
