<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=918872404865096";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% provide :title, @article.title %>
<div class="col-md-12 article">
  <div class="col-md-8">
    <div class="content-article">
      <div class="title">
        <h3><%= @article.title %></h3>
        <div class="detail">
          <span class="fa fa-calendar"></span>
          &nbsp;<%= @article.created_at.strftime("%Y-%m-%d %I:%M:%S %p") %>
          <span class="fa fa-eye view"></span>
          &nbsp;<%= @article.view %>&nbsp;
          <span class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></span>
        </div>
      </div>
      <%= image_tag "iphone.jpg" %>
      <div class="description-box">
        <%= @article.description %>
      </div>
      <%= render "footer_article" %>
      <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="1" ></div>
      <style>.fb-comments, .fb-comments iframe[style],
        .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
        .fb-comments span, .fb-comments iframe span[style],
        .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
      </style>
    </div>
  </div>

  <div class="col-md-4 side-bar facebook-like-page">
    <%= render "fb_page" %>
  </div>
  <div class="col-md-4 side-bar">
    <%= render "relate_side_bar" %>
  </div>
  <div class="col-md-4 side-bar">
    <%= render "popular_side_bar" %>
  </div>
</div>
