<div class="footer">
  <div class="row col-md-12">
    <%= link_to root_path do %>
      <div class="col-md-3">
        <%= image_tag "app_icon.png" %>
        <%= image_tag "title_icon.png", class: "title_icon_bottom" %>
      </div>
    <% end %>
    <div class="col-md-6 clear-padding">
      <div class="col-md-4">
        <ul class="list-unstyled display-inline">
          <li>
            <%= link_to root_path, class: "fa fa-home" do %>
              <span >&nbsp;&nbsp;<%= t "tab_bar.home" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to category_path(1), class: "fa fa-newspaper-o" do %>
              <span>&nbsp;&nbsp;<%= t "tab_bar.news" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to category_path(4), class: "fa fa-book" do %>
              <span>&nbsp;&nbsp;<%= t "tab_bar.more_knowledge" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to category_path(5), class: "fa fa-pie-chart" do %>
              <span>&nbsp;&nbsp;<%= t "tab_bar.electronic_device" %></span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled display-inline">
          <li>
            <%= link_to category_path(2), class: "fa fa-laptop" do %>
              <span>&nbsp;&nbsp;<%= t "tab_bar.computer" %></span>
            <% end %>
          </li>
            <li>
              <%= link_to list_path(1), class: "fa fa-windows" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.computer.operation_system" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(2), class: "fa fa-hdd-o" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.computer.hardware" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(3), class: "fa fa-recycle" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.computer.software" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(4), class: "fa fa-lightbulb-o" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.computer.tip_computer" %></span>
              <% end %>
            </li>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled display-inline">
          <li>
            <%= link_to category_path(3), class: "fa fa-tablet" do %>
              <span>&nbsp;&nbsp;<%= t "tab_bar.mobile" %></span>
            <% end %>
           </li>
            <li>
              <%= link_to list_path(5), class: "fa fa-th-large" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.mobile.window_phone" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(6), class: "fa fa-android" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.mobile.android" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(7), class: "fa fa-apple" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.mobile.ios" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(8), class: "fa fa-lightbulb-o" do %>
                <span>&nbsp;&nbsp;<%= t "sub_tab_bar.mobile.tip_mobile" %></span>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled display-inline">
        <li>
          <%= link_to about_us_path, class: "fa fa-info-circle" do %>
            <span><%= t "tab_bar.about_us" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "fa fa-phone" do %>
            <span>&nbsp;&nbsp;<%= t "bottom_tab_bar.connect_us" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "fa fa-suitcase" do %>
            <span>&nbsp;&nbsp;<%= t "bottom_tab_bar.advertise" %></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-1">
      <ul class="list-unstyled socail_network">
        <li>
          <%= link_to "", "#{@web_detail.fb_page}",target: "_blank", class: "fa fa-facebook-square fa-2x" %>
        </li>
        <li>
          <%= link_to "", "#{@web_detail.tweatter}",target: "_blank", class: "fa fa-twitter-square fa-2x" %>
        </li>
        <li>
          <%= link_to "", "#{@web_detail.google_plus}",target: "_blank", class: "fa fa-google-plus-square fa-2x" %>
        </li>
        <li>
          <%= link_to "", "#{@web_detail.fb_page}",target: "_blank", class: "fa fa-instagram fa-2x" %>
        </li>
        <li>
          <%= link_to "", "#{@web_detail.youtube}", class: "fa fa-youtube-square fa-2x" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="copy_right">
  <div class="pull-left">Copyright 2016 - Phum IT team.</div>
  <div class="pull-right">Developed by: Phum IT team</div>
</div>
