<div class="form-horizontal">
  <%= link_to "", "#{@web_detail.fb_page}", target: "_blank", class: "fa fa-facebook-square fa-2x padding-left-icon" %>
  <%= link_to "", "#{@web_detail.tweatter}", class: "fa fa-twitter-square fa-2x padding-left-icon" %>
  <%= link_to "", "#{@web_detail.google_plus}", class: "fa fa-google-plus-square fa-2x padding-left-icon" %>
  <%= link_to "", "#{@web_detail.tweatter}", class: "fa fa-instagram fa-2x padding-left-icon" %>
  <%= link_to "", "#{@web_detail.youtube}", class: "fa fa-youtube-square fa-2x padding-left-icon" %>
</div>

