<div id="owl-demo" class="owl-carousel owl-theme">
  <%= link_to category_path(1) do %>
    <div class="item">
      <%= image_tag 'Computer.jpg' %>
    </div>
  <% end %>
  <%= link_to category_path(2) do %>
    <div class="item">
      <%= image_tag 'Knowledge-New.jpg' %>
    </div>
  <% end %>
  <%= link_to category_path(3) do %>
    <div class="item">
      <%= image_tag 'Phone.jpg' %>
    </div>
  <% end %>
  <%= link_to category_path(4) do %>
    <div class="item">
      <%= image_tag 'Tools electronics.jpg' %>
    </div>
  <% end %>
  <%= link_to category_path(5) do %>
    <div class="item">
      <%= image_tag 'News.jpg' %>
    </div>
  <% end %>
</div>