<div class="col-md-12 show-user">
  <div class="col-md-2 clear-padding">
    <%= image_tag object.image_url(:thumb), class: "img-circle" %>
  </div>
  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-heading">User info</div>
        <div class="panel-body">
          <div class="col-md-12 clear-padding">
            <div class="col-md-5 clear-padding"><b>User name :</b></div>
            <div class="col-md-7">
              <%= object.username %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Nick name :</b></div>
            <div class="col-md-7">
              <%= object.nickname %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Email :</b></div>
            <div class="col-md-7">
              <%= object.email %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Role :</b></div>
            <div class="col-md-7">
              <span class="label label-<%= object.admin? ? 'danger' : 'info' %>">
                <%= object.role %>
              </span>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Sign in cout :</b></div>
            <div class="col-md-7">
              <span class="badge label badge-warning">
                <%= object.sign_in_count %>
              </span>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Current sign in :</b></div>
            <div class="col-md-7">
              <%= object.current_sign_in_at %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Last sign in :</b></div>
            <div class="col-md-7">
              <%= object.last_sign_in_at %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Current IP :</b></div>
            <div class="col-md-7">
              <%= object.current_sign_in_ip %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Current IP :</b></div>
            <div class="col-md-7">
              <%= object.current_sign_in_ip %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Last IP :</b></div>
            <div class="col-md-7">
              <%= object.last_sign_in_ip %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Remember at :</b></div>
            <div class="col-md-7">
              <%= object.remember_created_at %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Reset password at :</b></div>
            <div class="col-md-7">
              <%= object.reset_password_sent_at %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Created at :</b></div>
            <div class="col-md-7">
              <%= object.created_at %>
            </div>
          </div>
          <div class="col-md-12 margin-top-col clear-padding">
            <div class="col-md-5 clear-padding"><b>Updated at :</b></div>
            <div class="col-md-7">
              <%= object.updated_at %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
