<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="description" content="talking about teachnology in cambodia.">
    <meta name="keywords" content="IT, information teachnology, teachnology, teachnology khmer, cambodia, computer, phone, sumsung, smartphone, teach, modern, khmer phone, khmer computer, camera, news, computer tips, phone tips, android, ios, windows phone, windows, linux, cell phone">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'app_icon.png' %>
    <% if (params[:controller] == "articles" && params[:action] == "show") %>
      <meta property="fb:app_id" content="918872404865096">
      <meta property="og:title" content="<%= @article.title %>">
      <meta property="og:description" content="">
      <meta property="og:image" content="<%= request.protocol + request.host_with_port + @article.image_url %>">
      <meta property="og:url" content="<%= request.original_url %>" >
    <% end %>

  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrapper">
      <%= render "shared/flash" %>
      <% if params[:controller] != "devise/sessions" %>
        <%= render "shared/header" %>
        <div class="content container">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
        <a href="#" class="scrollToTop fa fa-arrow-circle-up fa-2x"></a>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
